## Entrada de dados

### Preparando ambiente

In [9]:
import pandas as pd
import numpy as np
import seaborn as sns

### Dados de Julho de 2022

In [10]:
url_julho = 'https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/shpc/dsan/2022/precos-gasolina-etanol-07.csv'
dados_brutos_julho = pd.read_csv(url_julho, sep=';')
dados_brutos_julho.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57632 entries, 0 to 57631
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Regiao - Sigla     57632 non-null  object
 1   Estado - Sigla     57632 non-null  object
 2   Municipio          57632 non-null  object
 3   Revenda            57632 non-null  object
 4   CNPJ da Revenda    57632 non-null  object
 5   Nome da Rua        57632 non-null  object
 6   Numero Rua         57597 non-null  object
 7   Complemento        12142 non-null  object
 8   Bairro             57438 non-null  object
 9   Cep                57632 non-null  object
 10  Produto            57632 non-null  object
 11  Data da Coleta     57632 non-null  object
 12  Valor de Venda     57632 non-null  object
 13  Valor de Compra    0 non-null      float64
 14  Unidade de Medida  57632 non-null  object
 15  Bandeira           57632 non-null  object
dtypes: float64(1), object(15)
memory usage: 7.0+ MB

### Dados de Agosto de 2022

In [11]:
url_agosto = 'https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/shpc/dsan/2022/precos-gasolina-etanol-08.csv'
dados_brutos_agosto = pd.read_csv(url_agosto, sep=';')
dados_brutos_agosto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69544 entries, 0 to 69543
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Regiao - Sigla     69544 non-null  object
 1   Estado - Sigla     69544 non-null  object
 2   Municipio          69544 non-null  object
 3   Revenda            69544 non-null  object
 4   CNPJ da Revenda    69544 non-null  object
 5   Nome da Rua        69544 non-null  object
 6   Numero Rua         69508 non-null  object
 7   Complemento        14937 non-null  object
 8   Bairro             69326 non-null  object
 9   Cep                69544 non-null  object
 10  Produto            69544 non-null  object
 11  Data da Coleta     69544 non-null  object
 12  Valor de Venda     69544 non-null  object
 13  Valor de Compra    0 non-null      float64
 14  Unidade de Medida  69544 non-null  object
 15  Bandeira           69544 non-null  object
dtypes: float64(1), object(15)
memory usage: 8.5+ MB

## Verificação de integridade dos dados

In [12]:
dados_brutos_julho.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,ES,COLATINA,SAO FRANCISCO DE ASSIS COMERCIO DE COMBUSTIVEI...,08.519.545/0001-10,PRACA FIDELIS FERRARI,35,NaN,LACE,29703-030,GASOLINA ADITIVADA,01/07/2022,"7,48",NaN,R$ / litro,VIBRA ENERGIA
1,SE,ES,COLATINA,SAO FRANCISCO DE ASSIS COMERCIO DE COMBUSTIVEI...,08.519.545/0001-10,PRACA FIDELIS FERRARI,35,NaN,LACE,29703-030,GASOLINA,01/07/2022,"7,38",NaN,R$ / litro,VIBRA ENERGIA
2,SE,ES,COLATINA,POSTO MOTOCAP LTDA,04.814.652/0001-10,PRACA ALMIRANTE BARROSO,52,LETRA A,LACE,29703-055,ETANOL,01/07/2022,"5,99",NaN,R$ / litro,VIBRA ENERGIA
3,SE,ES,COLATINA,POSTO MOTOCAP LTDA,04.814.652/0001-10,PRACA ALMIRANTE BARROSO,52,LETRA A,LACE,29703-055,GASOLINA,01/07/2022,"7,39",NaN,R$ / litro,VIBRA ENERGIA
4,CO,GO,GOIANIA,JUSTINIANO & JUSTINIANO LTDA,04.489.287/0001-16,AVENIDA JOSE LEANDRO DA CRUZ,"2,36","QUADRA 18, LOTE 01",PARQUE AMAZONIA,74840-390,GASOLINA ADITIVADA,01/07/2022,"6,49",NaN,R$ / litro,IPIRANGA

In [13]:
dados_brutos_agosto.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,AUTO POSTO M M GARROTE LTDA,08.738.994/0001-50,RODOVIA AL-220,5848,KM 96,BOM SUCESSO,57309-035,ETANOL,01/08/2022,"4,79",NaN,R$ / litro,VIBRA ENERGIA
1,NE,AL,ARAPIRACA,AUTO POSTO M M GARROTE LTDA,08.738.994/0001-50,RODOVIA AL-220,5848,KM 96,BOM SUCESSO,57309-035,GASOLINA,01/08/2022,"5,59",NaN,R$ / litro,VIBRA ENERGIA
2,NE,AL,ARAPIRACA,AUTO POSTO MASSARANDUBA LTDA.,07.248.398/0001-29,RODOVIA AL 220,4698,NaN,PLANALTO,57308-000,GASOLINA ADITIVADA,01/08/2022,"5,99",NaN,R$ / litro,BRANCA
3,NE,AL,ARAPIRACA,AUTO POSTO MASSARANDUBA LTDA.,07.248.398/0001-29,RODOVIA AL 220,4698,NaN,PLANALTO,57308-000,ETANOL,01/08/2022,"4,99",NaN,R$ / litro,BRANCA
4,NE,AL,ARAPIRACA,AUTO POSTO MASSARANDUBA LTDA.,07.248.398/0001-29,RODOVIA AL 220,4698,NaN,PLANALTO,57308-000,GASOLINA,01/08/2022,"5,79",NaN,R$ / litro,BRANCA

## Inicio da limpeza

### Modifcação do padrão das datas

In [14]:
#dados de julho
dados_brutos_julho['Data da Coleta'] = pd.to_datetime(dados_brutos_julho['Data da Coleta'], dayfirst=True)
dados_brutos_julho['Data da Coleta'].head()

0   2022-07-01
1   2022-07-01
2   2022-07-01
3   2022-07-01
4   2022-07-01
Name: Data da Coleta, dtype: datetime64[ns]

In [15]:
#dados de agosto
dados_brutos_agosto['Data da Coleta'] = pd.to_datetime(dados_brutos_agosto['Data da Coleta'], dayfirst=True)
dados_brutos_agosto['Data da Coleta'].head()

0   2022-08-01
1   2022-08-01
2   2022-08-01
3   2022-08-01
4   2022-08-01
Name: Data da Coleta, dtype: datetime64[ns]

### União dos DataFrame

In [16]:
lista_dados = [dados_brutos_julho ,dados_brutos_agosto]
dados_brutos = pd.concat(lista_dados, ignore_index= True, verify_integrity=True)

verificaçao dos dados unidos, usando como base os valores unicos de "Data de Coleta"

In [17]:
datas_coletas_julho = dados_brutos_julho['Data da Coleta'].unique()
datas_coletas_agosto = dados_brutos_agosto['Data da Coleta'].unique()
datas_julho_agosto = np.concatenate((datas_coletas_julho, datas_coletas_agosto))
datas_coletas_brutos = dados_brutos['Data da Coleta'].unique()

np.array_equal(datas_julho_agosto, datas_coletas_brutos)

True

## Padronização

### Padronizaçâo Columas

In [18]:
dados_brutos.columns

Index(['Regiao - Sigla', 'Estado - Sigla', 'Municipio', 'Revenda',
       'CNPJ da Revenda', 'Nome da Rua', 'Numero Rua', 'Complemento', 'Bairro',
       'Cep', 'Produto', 'Data da Coleta', 'Valor de Venda', 'Valor de Compra',
       'Unidade de Medida', 'Bandeira'],
      dtype='object')

In [19]:
#modificacao do nome de columas
dados_brutos.columns = dados_brutos.columns.str.replace('- ','')
dados_brutos.columns = dados_brutos.columns.str.replace(' ','_')
dados_brutos.columns = dados_brutos.columns.str.lower()
dados_brutos.columns

Index(['regiao_sigla', 'estado_sigla', 'municipio', 'revenda',
       'cnpj_da_revenda', 'nome_da_rua', 'numero_rua', 'complemento', 'bairro',
       'cep', 'produto', 'data_da_coleta', 'valor_de_venda', 'valor_de_compra',
       'unidade_de_medida', 'bandeira'],
      dtype='object')

### Padronização valores

In [21]:
dados_brutos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127176 entries, 0 to 127175
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   regiao_sigla       127176 non-null  object
 1   estado_sigla       127176 non-null  object
 2   municipio          127176 non-null  object
 3   revenda            127176 non-null  object
 4   cnpj_da_revenda    127176 non-null  object
 5   nome_da_rua        127176 non-null  object
 6   numero_rua         127105 non-null  object
 7   complemento        27079 non-null   object
 8   bairro             126764 non-null  object
 9   cep                127176 non-null  object
 10  produto            127176 non-null  object
 11  data_da_coleta     127176 non-null  datetime64[ns]
 12  valor_de_venda     127176 non-null  object
 13  valor_de_compra    0 non-null       float64
 14  unidade_de_medida  127176 non-null  object
 15  bandeira           127176 non-null  object
dtypes: datetime64[ns](1), float64(1), object(14)
memory usage: 15.5+ MB

Modificar valores da columa Valor de venda

In [22]:
#tocando vigula por ponto e nudando de string para float
valores_virgula = dados_brutos['valor_de_venda'].tolist()
valores_ponto = [x.replace(',', '.') for x in valores_virgula]
dados_brutos['valor_de_venda'] = valores_ponto
dados_brutos['valor_de_venda'] = dados_brutos['valor_de_venda'].astype(float)

In [23]:
dados_brutos.valor_de_venda.describe()

count    127176.000000
mean          5.355503
std           0.860449
min           2.890000
25%           4.880000
50%           5.490000
75%           5.890000
max           9.270000
Name: valor_de_venda, dtype: float64

### Remoçao de columas vaziar ou incompletas

In [127]:
dados_brutos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127176 entries, 0 to 127175
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   regiao_sigla       127176 non-null  object
 1   estado_sigla       127176 non-null  object
 2   municipio          127176 non-null  object
 3   revenda            127176 non-null  object
 4   cnpj_da_revenda    127176 non-null  object
 5   nome_da_rua        127176 non-null  object
 6   numero_rua         127105 non-null  object
 7   complemento        27079 non-null   object
 8   bairro             126764 non-null  object
 9   cep                127176 non-null  object
 10  produto            127176 non-null  object
 11  data_da_coleta     127176 non-null  datetime64[ns]
 12  valor_de_venda     127176 non-null  float64
 13  valor_de_compra    0 non-null       float64
 14  unidade_de_medida  127176 non-null  object
 15  bandeira           127176 non-null  object
dtypes: datetime64[ns](1), float64(2), object(13)
memory usage: 15.5+ MB

Removendo coluna vazia

In [24]:
#verificando se columa Valores de Compra realmente esta vazia
dados_brutos.valor_de_compra.unique()

array([nan])

In [25]:
dados_brutos.drop(columns=['valor_de_compra'], inplace=True)

In [26]:
dados_brutos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127176 entries, 0 to 127175
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   regiao_sigla       127176 non-null  object
 1   estado_sigla       127176 non-null  object
 2   municipio          127176 non-null  object
 3   revenda            127176 non-null  object
 4   cnpj_da_revenda    127176 non-null  object
 5   nome_da_rua        127176 non-null  object
 6   numero_rua         127105 non-null  object
 7   complemento        27079 non-null   object
 8   bairro             126764 non-null  object
 9   cep                127176 non-null  object
 10  produto            127176 non-null  object
 11  data_da_coleta     127176 non-null  datetime64[ns]
 12  valor_de_venda     127176 non-null  float64
 13  unidade_de_medida  127176 non-null  object
 14  bandeira           127176 non-null  object
dtypes: datetime64[ns](1), float64(1), object(13)
memory usage: 14.6+ MB

Verificando valores de Complemento

In [27]:
dados_brutos.complemento.unique()

array([nan, 'LETRA A', 'QUADRA 18, LOTE 01', ..., 'GARA6EM',
       'KM    615  280 M', 'LOTE  00013                     0002'],
      dtype=object)

depois de verificar seus valores, se ve que não tem relevancia

In [28]:
dados_brutos.drop(columns=['complemento'], inplace=True)

In [29]:
dados_brutos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127176 entries, 0 to 127175
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   regiao_sigla       127176 non-null  object
 1   estado_sigla       127176 non-null  object
 2   municipio          127176 non-null  object
 3   revenda            127176 non-null  object
 4   cnpj_da_revenda    127176 non-null  object
 5   nome_da_rua        127176 non-null  object
 6   numero_rua         127105 non-null  object
 7   bairro             126764 non-null  object
 8   cep                127176 non-null  object
 9   produto            127176 non-null  object
 10  data_da_coleta     127176 non-null  datetime64[ns]
 11  valor_de_venda     127176 non-null  float64
 12  unidade_de_medida  127176 non-null  object
 13  bandeira           127176 non-null  object
dtypes: datetime64[ns](1), float64(1), object(12)
memory usage: 13.6+ MB

# Salvando e verificando arquivo gerado

In [30]:
dados_brutos.to_csv('data\dados_limpos\dados.csv', sep=',', index=False)

In [31]:
# verificando o arquivo gerado 
dados_novo_arquivo = pd.read_csv('data\dados_limpos\dados.csv')
dados_novo_arquivo.head()

,regiao_sigla,estado_sigla,municipio,revenda,cnpj_da_revenda,nome_da_rua,numero_rua,bairro,cep,produto,data_da_coleta,valor_de_venda,unidade_de_medida,bandeira
0,SE,ES,COLATINA,SAO FRANCISCO DE ASSIS COMERCIO DE COMBUSTIVEI...,08.519.545/0001-10,PRACA FIDELIS FERRARI,35,LACE,29703-030,GASOLINA ADITIVADA,2022-07-01,7.48,R$ / litro,VIBRA ENERGIA
1,SE,ES,COLATINA,SAO FRANCISCO DE ASSIS COMERCIO DE COMBUSTIVEI...,08.519.545/0001-10,PRACA FIDELIS FERRARI,35,LACE,29703-030,GASOLINA,2022-07-01,7.38,R$ / litro,VIBRA ENERGIA
2,SE,ES,COLATINA,POSTO MOTOCAP LTDA,04.814.652/0001-10,PRACA ALMIRANTE BARROSO,52,LACE,29703-055,ETANOL,2022-07-01,5.99,R$ / litro,VIBRA ENERGIA
3,SE,ES,COLATINA,POSTO MOTOCAP LTDA,04.814.652/0001-10,PRACA ALMIRANTE BARROSO,52,LACE,29703-055,GASOLINA,2022-07-01,7.39,R$ / litro,VIBRA ENERGIA
4,CO,GO,GOIANIA,JUSTINIANO & JUSTINIANO LTDA,04.489.287/0001-16,AVENIDA JOSE LEANDRO DA CRUZ,"2,36",PARQUE AMAZONIA,74840-390,GASOLINA ADITIVADA,2022-07-01,6.49,R$ / litro,IPIRANGA

In [32]:
dados_novo_arquivo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127176 entries, 0 to 127175
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   regiao_sigla       127176 non-null  object
 1   estado_sigla       127176 non-null  object
 2   municipio          127176 non-null  object
 3   revenda            127176 non-null  object
 4   cnpj_da_revenda    127176 non-null  object
 5   nome_da_rua        127176 non-null  object
 6   numero_rua         127105 non-null  object
 7   bairro             126764 non-null  object
 8   cep                127176 non-null  object
 9   produto            127176 non-null  object
 10  data_da_coleta     127176 non-null  object
 11  valor_de_venda     127176 non-null  float64
 12  unidade_de_medida  127176 non-null  object
 13  bandeira           127176 non-null  object
dtypes: float64(1), object(13)
memory usage: 13.6+ MB

# Codigos

### Verificações em  andamento

In [ ]:
dados_brutos['valor_de_venda'].plot(kind='hist')

In [ ]:
dados_brutos['valor_de_venda'].min()

In [ ]:
#verificando baixo preço encontrado
dados_brutos.query('valor_de_venda < 4').produto.unique()

In [ ]:
dados_brutos.valor_de_venda.max()

In [ ]:
dados_brutos.query('valor_de_venda > 8').produto.unique()